<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-row>
      <ion-col size="10">
        <ion-title class="ion-margin-vertical">
          Weight Tracker
        </ion-title>
      </ion-col>
      <ion-col size="2">
        <div (click)="openPicker(false)" class="ion-margin-vertical">
          <i class="fa fa-plus"></i>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment
    (ionChange)="segmentChanged($event)"
    [(ngModel)]="selectedSegment"
    class="ion-padding-bottom"
  >
    <ion-segment-button value="week" checked>
      <ion-label>Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="month">
      <ion-label>Month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="year">
      <ion-label>Year</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all">
      <ion-label>All time</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-weight-graph
    class="ion-padding-top"
    [user]="user"
    [period]="selectedSegment"
  ></app-weight-graph>

  <ion-card color="primary">
    <ion-card-content (click)="editTargetWeight()">
      <ion-row>
        <ion-col size="2" color="secondary">
          <i class="fa fa-lg fa-star secondary"></i>
        </ion-col>
        <ion-col size="10"
          ><div *ngIf="!!user?.targetWeight">
            <p>
              Your target weight: {{user?.targetWeight?.stones}}st
              {{user?.targetWeight?.lbs}}lbs
            </p>
          </div>
          <p *ngIf="!!!user?.targetWeight">
            Add target weight
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col size="4">
      <ion-card class="ion-text-center ion-no-margin">
        <h4>
          13st <br />
          2.5lbs
        </h4>
        <p>Start weight</p>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="ion-text-center ion-no-margin">
        <h4>10st <br />2lbs</h4>
        <p>Current weight</p>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="ion-text-center ion-no-margin">
        <h4>1st <br />2lbs</h4>
        <p>Until target</p>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-item
    ><h3 *ngIf="user?.weighFrequency == 1">
      Weight log history (last 30 days)
    </h3>
    <h3 *ngIf="user?.weighFrequency == 2">
      Weight log history (last 6 weeks)
    </h3></ion-item
  >
  <ion-list>
    <ion-item *ngFor="let u of weightLogHistory">
      <ion-label *ngIf="user?.weighFrequency == 2"
        ><span>{{u.createDate | date: 'EEEE'}}</span> {{u.createDate | date :
        'dd/MM/yyyy'}}
      </ion-label>
      <ion-label *ngIf="user?.weighFrequency == 1"
        >{{u.createDate | date : 'dd/MM/yyyy'}}
      </ion-label>
      <ion-label *ngIf="!!u.stones">
        <p>{{u.stones}}st {{u.lbs}}lbs</p></ion-label
      >
      <ion-label *ngIf="!!u.stones"> <p>{{getWeightChange(u)}}</p></ion-label>
      <ion-label *ngIf="!!!u.stones" (click)="openPicker(false, u.createDate)"
        ><p>Add weight log <i class="fa fa-plus"></i></p
      ></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
