<ion-tabs #tabs (ionTabsDidChange)="getSelectedTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="food-diary"
      id="food-diary"
      [class.grayscale]="activeTab != 'food-diary'"
    >
      <img width="25" src="../../../assets/icons/book.svg" />
      <ion-label>Food diary</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="weight-tracker"
      id="weight-tracker"
      [class.grayscale]="activeTab != 'weight-tracker'"
    >
      <img width="25" src="../../../assets/icons/weight.svg" />
      <ion-label>Weight tracker</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="settings"
      id="settings"
      [class.grayscale]="activeTab != 'settings'"
    >
      <img width="25" src="../../../assets/icons/pen.svg" />
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
